@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

a {
    text-decoration: none!important;
}

a:hover {
    text-decoration: underline!important;
}

body {
    position: relative;
    overflow-x: hidden;
    transition: opacity .3s;
}

body .background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 150px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    z-index: -1;
    opacity: .1;
    text-align: center;
    letter-spacing: 5px;
    user-select: none;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
}

@media(max-width: 1120px) {
    body .background-text {
        font-size: 120px;
    }
}

@media(max-width: 910px) {
    body .background-text {
        font-size: 100px;
    }
}

@media(max-width: 768px) {
    body .background-text {
        font-size: 80px;
    }
}

@media(max-width: 630px) {
    body .background-text {
        font-size: 70px;
    }
}   

/* Ajustando algumas coisas no breakpoint de 576 pixeis */
@media(max-width: 576px) {
    .background-text {
        display: none!important;
    }
    .container {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}


/* Ajustando o tamanho do container */
@media(max-width: 1200px) {
    .container {
        max-width: 1040px!important;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 960px!important;
    }
}

#nprogress .bar {
    background: #f1641f!important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #f1641f, 0 0 5px #f1641f!important;
}

#nprogress .spinner-icon {
    border-top-color: #f1641f!important;
    border-left-color: #f1641f!important;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px!important;
    }
}

.offcanvas-title {
    font-weight: bold!important;
}

.form-select:focus {
    border-color: #f9b28f!important;
    box-shadow: 0 0 0 0.25rem rgb(241 100 31 / 25%)!important;
}

.Toastify__progress-bar--default {
    background: #f1641f!important;
}