.buttoncourse {
    outline: none;
    border: 0;
    background-color: white;
    border-radius: 15px;
    padding: 12px 30px;
    color: #f39200;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
    z-index: 2;
    transition: .3s;
}

.buttoncourse:active {
    transform: scale(0.98);
    filter: brightness(0.9);
}

.courseicon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    opacity: .05;
    z-index: 1;
}