/* Estilos do ícone de voltar */
body .backicon {
    position: absolute;
    top: 70px;
    right: 70px;
    background-color: #f1641f;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
    cursor: pointer;
    transition: .3s;
}

body .backicon:active {
    transform: scale(0.98);
    filter: brightness(0.9);
}

body .backicon:hover {
    background-color: #e94d00;
}

body .backicon img {
    height: 25px;
    max-height: 25px;
}

@media(max-width: 576px) {
    body .backicon {
        top: 25px!important;
        right: 25px!important;
    }
}

/* Estilos da tabela */
.tablecontainer {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.tablecontainer table {
    color: white;
    margin-bottom: 0!important;
    border: 2px solid white;
}

.tablecontainer table thead tr {
    background-color: white;
    color: #706f6f;
    border-radius: 15px;
    text-transform: uppercase;
}

.tablecontainer table thead th {
    width: 16.6666666667%;
}

.tablecontainer table tbody * {
    font-size: 15px;
}

.tablecontainer table th, .tablecontainer table td {
    text-align: center;
    padding: .75rem .3rem!important;
    min-width: 140px;
}

.tablecontainer table tbody td a {
    color: white!important;
}

.tablecontainer .tablehour {
    vertical-align: middle;
    font-weight: bold;
}

.backgreen {
    background-color: #12a038;
}

.backgray {
    background-color: #706F6F;
}

/* Estilos da legenda da tabela */
.subtitlescontainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtitlescontainer .subtitlesul {
    display: flex;
    margin-bottom: 0!important;
    column-gap: 15px;
    flex-wrap: wrap;
}

.subtitlescontainer .subtitlesul li {
    list-style: none;
}

.subtitlescontainer .subtitlesul .squaregreen::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    min-width: 15px;
    min-height: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #12a038;
}

.subtitlescontainer .subtitlesul .squaregray::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    min-width: 15px;
    min-height: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #706F6F;
}